.friendListItem {
    width: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 4px;
    background-color: white;
    outline: 1.5px solid black;
    padding-top: 10px;
}

.avatar {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin-bottom: 5px;
}

.name {
    margin-top: 3px;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 0;
}

.status {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-bottom: 5px;
}

.statusText {
    margin: 0 0 5px;
    font-size: 10px;
    font-weight: 500;
}